*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/libs/
app/src/main/res/values/configuration.xml
app/src/debug/
app/src/main/res/layout/route/
src/debug/
src/main/res/layout/route/
